body {
    overflow: hidden;
}


body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
canvas {
    display: block;
}

.hoverable:hover {
    color: #e9ecef;
}

.noHref {
    text-decoration: none;   /* Removes the underline from the link */
    color: inherit;          /* Uses the parent's text color */
    pointer-events: auto;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    pointer-events: none; /* This makes sure mouse events pass through to the canvas below */
}

#center-text {
    font-size: 3em;
    color: #000000;
    pointer-events: auto;
    text-align: center; /* Ensure text is centered if it goes onto multiple lines */
}


#menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px; /* Space between menu items */
    pointer-events: auto;
}

#menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

#menu a:hover {
    color: #aaa;
}

/*Profile Picture CSS */
.pfp {
    border-radius: 50%; /* This makes the image round */
    width: 100px; 
    height: 100px; 
    object-fit: cover; /* Ensures the image covers the dimensions without distortion */
    border: 3px solid #fff; /* Optional white border */
}

#pfp-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pfp-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}
/*End pfp CS */

#social-icons {
    position: absolute;
    top: calc(50% + 70px); 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px; /* Adjust space between icons */
}

#social-icons a {
    color: #000000;
    pointer-events: auto;
    font-size: 24px; /* Adjust icon size */
    transition: color 0.3s;
}

#social-icons a:hover {
    color: #504f4f; /* Change color on hover */
}

#sidebar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%; /* Sidebar width */
    height: 0;  /* Initial height */
    background-color: rgba(51, 51, 51, 0.8); /* Sidebar background color */
    backdrop-filter: blur(5px);
    transition: height 0.5s; /* Smooth transition */
}

#sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the PFP and text horizontally */
    justify-content: center; /* This will center the content vertically */
    height: 100%;
}

#sidebar-pfp {
    border-radius: 50%; /* Makes the image round */
    display: block;
    margin: 10px auto;
    width: 12vw; /* Increase the base size */
    height: 12vw;
    margin-bottom: 20px; /* Space between the PFP and text */
    object-fit: cover;
    max-width: 150px; /* Maximum size */
    max-height: 150px;
    min-width: 80px; /* Minimum size */
    min-height: 80px;
}

#scrollUpText {
    display: none;
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    color: #888; /* A softer color */
    font-size: 16px; /* Adjust the font size */
    text-shadow: 1px 1px 2px #000; /* Subtle shadow for better readability */
    opacity: 1;
    transition: opacity 0.5s ease; /* Smooth transition for fading */
    pointer-events: none; /* Ensures it doesn't interfere with other clickable elements */
}


#sidebar-content p {
    text-align: left;
    width: 80%; 
    color: #fff; 
}


.center-text {
    text-align: center;
    width: 95%; /* Use the full width */
    color: #c7c7c7; 
    margin-bottom: 5%
}

.dual-text {
    display: flex; /* Use flexbox to position the children (spans) */
    justify-content: space-between; /* Push the children to the extremes (left and right) */
    width: 80%; 
    color: #fff; 
    margin: 5px 0; /* Some spacing between lines */
}

@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
}


