body {
    height:auto;
    background-color: rgba(195, 235, 237, 0.487);
}
img {
    border-radius: 8px;
}
.container{
    overflow: hidden;
    z-index: 10;
    position: relative;
    margin: 50px auto;
    height: 100px;
    width: auto;
    background-color: rgb(148, 210, 231);
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.Condition{
    z-index: 1000;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 35px;
    left: 20px;  
    top: 5px;
}
